

.price__item__table{
    border: 3px solid #628790;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    th{
        text-transform: uppercase;
        border: 3px solid #628790;
        height: 50px;
        background-color: #8e0087;
        color: #fff;
    }
    td{
        border: 3px solid #628790;
        height: 30px;
        padding: 20px;
    }
}